<div class="container">
    <div class="logo">
        <div class="logo-div">
            <img class="home-img" src="/assets/images/home.png"/> 
            <div class="slogan-div">
                <p class="slogan">An online list to help you organize your tasks!</p>
            </div>
        </div>
        <div class="create-list">
            <button class="new-list" onclick="openForm()">+</button>
            New list
            <form att="hidden"></form>
        </div>
       <script>
            function openForm(){

            }
       </script>
        
    </div>
</div>